<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719851629523-q60q7d4cem9rld9k28g7j7dddvah23nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719851629523-q60q7d4cem9rld9k28g7j7dddvah23nj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719851629523-0oofpnjr66k127laj9hnc8dllokl9548.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDrd9aNsucx723iFvnZ24QHqMS7tVY3rA</string>
	<key>GCM_SENDER_ID</key>
	<string>719851629523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KreativeKoala.PuzzleForge</string>
	<key>PROJECT_ID</key>
	<string>aipuzzle-3122c</string>
	<key>STORAGE_BUCKET</key>
	<string>aipuzzle-3122c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719851629523:ios:dd0cabaa8ba2c728129d26</string>
</dict>
</plist>